[Unit]
Description=Setup VPN Bridge Service
After=multi-user.target

[Service]
Type=simple
ExecStart=/home/server_vpn_setup.sh
TimeoutStopSec=infinity

[Install]
WantedBy=multi-user.target
